{{#section 'js'}}
{{#each users}}
<script>
    //Downgrade
    $(`#frmDowngrade` + {{ UserID }}).submit(function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Downgrade user ' + $(`#username` + {{ UserID }}).text() + ' to bidder?',
            icon: 'question',
                showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                            confirmButtonText: 'Confirm'
    }).then((result) => {
        if (result.value) {
            Swal.fire({
                icon: 'success',
                text: 'Downgrading...Please wait a few seconds',
                timer: 6000,
                timerProgressBar: true
            })
            this.submit();
        }
    });
    });
</script>
{{/each}}
{{/section}}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-3">
            <div class="card shadow" id="a">
                <h4 class="card-header text-danger">
                    <i class="fa fa-eye"></i>
                    Views
                </h4>
                <div class="list-group list-group-flush">

                    <a href="/admin/user/manage" class="list-group-item list-group-item-action indam hover"
                        style="font-size: 18px;">
                        <i class="fa fa-users text-info" aria-hidden="true"></i>
                        Manage
                        {{#if countUsers}}
                        <span class="badge badge-danger float-right">{{countUsers}}</span>
                        {{/if}}
                    </a>

                    <a href="/admin/user/updowngrade" class="list-group-item list-group-item-action indam hover"
                        style="font-size: 18px;">
                        <i class="fa fa-arrow-circle-up text-success"></i>
                        Upgrade -
                        <i class="fa fa-arrow-circle-down text-danger"></i>
                        Downgrade
                        {{#if countAll}}
                        <span class="badge badge-danger float-right">{{countAll}}</span>
                        {{/if}}
                    </a>

                    <a href="/admin/user/upgrade" class="list-group-item list-group-item-action indam hover"
                        style="font-size: 18px;">
                        <i class="fa fa-arrow-circle-up text-success"></i>
                        Upgrade
                        {{#if countAllBidder}}
                        <span class="badge badge-danger float-right">{{countAllBidder}}</span>
                        {{/if}}
                    </a>

                    <a href="/admin/user/downgrade" class="list-group-item list-group-item-action indam active hover"
                        style="font-size: 18px;">
                        <i class="fa fa-arrow-circle-down text-danger"></i>
                        Downgrade
                        {{#if countAllSeller}}
                        <span class="badge badge-danger float-right">{{countAllSeller}}</span>
                        {{/if}}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card shadow mb-4" id="register">
                <h3 class="card-header text-danger">
                    <i class="fa fa-users"></i> Users
                </h3>
                <div class="card-body">
                    {{#if success_msg}}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{success_msg}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                    <div class="row profile_line1">
                        <div class="col-lg-2 indam text-danger chulon">
                            <i class="fa fa-sort-numeric-down "></i>
                            #
                        </div>
                        <div class="col-lg-4 indam text-danger chulon">
                            <i class="fa fa-user"></i>
                            Username
                        </div>
                        <div class="col-lg-3 indam text-danger chulon">
                            <i class="fa fa-star"></i>
                            Rating
                        </div>
                    </div>
                    {{#each users}}
                    <div class="row profile_line">
                        <div class="col-lg-2 mt-1 mb-1" style="font-size: 16px;">
                            {{UserID}}
                        </div>
                        <div class="col-lg-4 mt-1 mb-1 indam" style="font-size: 16px;">
                            {{Username}}
                        </div>
                        <div class="col-lg-3 mt-1 mb-1 text-warning" style="font-size: 16px;">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="col-lg-3">
                            <form method="POST" action="/admin/user/updowngrade/{{UserID}}/down"
                                id="frmDowngrade{{UserID}}">
                                <button type="submit" class="btn btn-danger float-right mt-1 mb-1 indam">
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                    Bidder
                                </button>
                            </form>
                        </div>
                    </div>
                    {{/each}}

                </div>
                <div class="card-footer text-muted">
                    Footer
                </div>
            </div>
        </div>
    </div>
</div>