<div class="container">
    <div class="card shadow mb-4" id="register">
        <h3 class="card-header">
            <i class="fa fa-users text-danger"></i> All users
        </h3>
        <div class="card-body">
            {{#if success_msg}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{success_msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            <div class="row profile_line1">
                <div class="col-lg-2 indam text-danger">
                    <i class="fa fa-sort-numeric-down"></i>
                    #
                </div>
                <div class="col-lg-4 indam text-danger">
                    <i class="fa fa-user"></i>
                    Username
                </div>
                <div class="col-lg-3 indam text-danger">
                    <i class="fa fa-star"></i>
                    Rating
                </div>
            </div>
            {{#each users}}

            <form method="POST" id="frmManageUsers">
                <div class="row profile_line">
                    <div class="col-lg-2 mt-1 mb-1">
                        {{userID}}
                    </div>
                    <div class="col-lg-4 mt-1 mb-1">
                        <input type="text" class="form-control username" id="{{username}}" name="username"
                            value="{{username}}" readonly>
                    </div>
                    <div class="col-lg-3 mt-1 mb-1">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="col-lg-3">
                        <button type="submit" class="btn btn-danger float-right mt-1 mb-1"
                            formaction="/admin/user/manage/del">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            Delete  
                        </button>

                        <a class="btn btn-success float-right mt-1 mb-1 mr-1" href="/admin/user/manage/{{userID}}/profile"
                            role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Profile
                        </a>
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
        <div class="card-footer text-muted">
            Footer
        </div>
    </div>
</div>