<div class="container">
    <div class="card shadow mb-4" id="register">
        <h3 class="card-header">
            <i class="fa fa-users text-danger"></i> Profile of {{user.username}}
        </h3>
        <div class="card-body">
            {{#if success_msg}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{success_msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            <div class="row profile_line">
                <div class="col-lg-4 indam text-danger mt-1 mb-1">
                    <i class="fa fa-user"></i>
                    Username
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    {{user.username}}
                </div>
            </div>

            <div class="row profile_line">
                <div class="col-lg-4 indam text-danger mt-1 mb-1">
                    <i class="fa fa-key"></i>
                    Password
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    *********
                </div>
            </div>

            <div class="row profile_line">
                <div class="col-lg-4 indam text-danger mt-1 mb-1">
                    <i class="fa fa-envelope"></i>
                    Email
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    {{user.email}}
                </div>
            </div>

            <div class="row profile_line">
                <div class="col-lg-4 indam text-danger mt-1 mb-1">
                    <i class="fa fa-user"></i>
                    First name
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    {{user.firstname}}
                </div>
            </div>

            <div class="row profile_line">
                <div class="col-lg-4 indam text-danger mt-1 mb-1">
                    <i class="fa fa-user"></i>
                    Last name
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    {{user.lastname}}
                </div>
            </div>

            <div class="row profile_line">
                <div class="col-lg-4 indam text-danger mt-1 mb-1">
                    <i class="fa fa-birthday-cake"></i>
                    Day of birth
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    {{user.dob}}
                </div>
            </div>

            <div class="row profile_line">
                <div class="col-lg-4 indam text-danger mt-1 mb-1">
                    <i class="fa fa-building"></i>
                    City/Province
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    {{user.cityprovince}}
                </div>
            </div>

            <div class="row profile_line">
                <div class="col-lg-4 indam text-danger mt-1 mb-1">
                    <i class="fa fa-home"></i>
                    District
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    {{user.district}}
                </div>
            </div>

            <div class="row profile_line">
                <div class="col-lg-4 indam text-danger mt-1 mb-1">
                    <i class="fa fa-home"></i>
                    Ward
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    {{user.ward}}
                </div>
            </div>

            <div class="row profile_line">
                <div class="col-lg-4 indam text-danger mt-1 mb-1">
                    <i class="fa fa-road"></i>
                    Street
                </div>
                <div class="col-lg-4 mt-1 mb-1">
                    {{user.street}}
                </div>
            </div>

            <a class="btn btn-info mt-1 mb-1" href="/admin/user/manage" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                List
            </a>
        </div>
        <div class="card-footer text-muted">
            Footer
        </div>
    </div>
</div>