{{#if_eq authUser.Type 0}}
{{#section 'js'}}
<script>
    $(`#frmRequest`).submit(function (e) {
        e.preventDefault();
        Swal.fire({
            icon: 'success',
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Agree',
            text: 'Sending request...',
            timer: 6000,
            timerProgressBar: true
        });
        this.submit();
    });
</script>
{{/section}}
{{/if_eq}}



<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-3">
            <div class="card shadow" id="a">
                <h4 class="card-header text-danger">
                    <i class="fa fa-eye"></i>
                    Views
                </h4>
                <div class="list-group list-group-flush">
                    <a href="/account/profile" class="list-group-item
                        list-group-item-action indam active hover" style="font-size: 18px;">
                        <i class="fa fa-id-card text-info" aria-hidden="true"></i>
                        Profile
                    </a>

                    <a href="/account/auctionproduct" class="list-group-item
                        list-group-item-action indam hover" style="font-size: 18px;">
                        <i class="fa fa-gavel text-success" aria-hidden="true"></i>
                        Bidding List
                    </a>

                    <a href="/account/wonproduct" class="list-group-item
                        list-group-item-action indam  hover" style="font-size: 18px;">
                        <i class="fa fa-trophy text-warning" aria-hidden="true"></i>
                        Won List
                    </a>

                    <a href="/account/favorite" class="list-group-item
                        list-group-item-action indam hover" style="font-size: 18px;">
                        <i class="fa fa-heart text-danger" aria-hidden="true"></i>
                        Watch List
                    </a>
                    {{#if_eq authUser.Type 1}}
                    <a href="/account/postproduct" class="list-group-item
                        list-group-item-action indam hover" style="font-size: 18px;">
                        <i class="fa fa-plus-square text-danger" aria-hidden="true"></i>
                        Post a auction product
                    </a>

                    <a href="/account/allpostproduct" class="list-group-item list-group-item-action indam hover"
                        style="font-size: 18px;">
                        <i class="fa fa-gavel text-dark" aria-hidden="true"></i>
                        Post products
                    </a>

                    <a href="/account/allfinishpostproduct" class="list-group-item list-group-item-action indam hover"
                        style="font-size: 18px;">
                        <i class="fa fa-trophy text-warning" aria-hidden="true"></i>
                        Post products have a winner
                    </a>
                    {{/if_eq}}
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card shadow mb-4" id="register">
                <h3 class="card-header text-danger">
                    <i class="fa fa-info-circle"></i> Information
                </h3>
                <div class="card-body">
                    {{#if success_msg}}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{success_msg}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                    <div class="row profile_line">
                        <div class="col-lg-4 indam text-danger mt-1 mb-1 chulon">
                            <i class="fa fa-user"></i>
                            Username
                        </div>
                        <div class="col-lg-4 mt-1 mb-1 indam" style="font-size: 16px;">
                            {{authUser.Username}}
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-warning float-right mt-1 mb-1 indam" href="/account/profile/edit/username"
                                role="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                        </div>
                    </div>

                    <div class="row profile_line">
                        <div class="col-lg-4 indam text-danger mt-1 mb-1 chulon">
                            <i class="fa fa-key"></i>
                            Password
                        </div>
                        <div class="col-lg-4 mt-1 mb-1 indam" style="font-size: 16px;">
                            *********
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-warning float-right mt-1 mb-1 indam" href="/account/profile/edit/password"
                                role="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                        </div>
                    </div>

                    <div class="row profile_line">
                        <div class="col-lg-4 indam text-danger mt-1 mb-1 chulon">
                            <i class="fa fa-envelope"></i>
                            Email
                        </div>
                        <div class="col-lg-4 mt-1 mb-1 indam" style="font-size: 16px;">
                            {{authUser.Email}}
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-warning float-right mt-1 mb-1 indam" href="/account/profile/edit/email"
                                role="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                        </div>
                    </div>

                    <div class="row profile_line">
                        <div class="col-lg-4 indam text-danger mt-1 mb-1 chulon">
                            <i class="fa fa-user"></i>
                            First name
                        </div>
                        <div class="col-lg-4 mt-1 mb-1 indam" style="font-size: 16px;">
                            {{authUser.FirstName}}
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-warning float-right mt-1 mb-1 indam"
                                href="/account/profile/edit/firstname" role="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                        </div>
                    </div>

                    <div class="row profile_line">
                        <div class="col-lg-4 indam text-danger mt-1 mb-1 chulon">
                            <i class="fa fa-user"></i>
                            Last name
                        </div>
                        <div class="col-lg-4 mt-1 mb-1 indam" style="font-size: 16px;">
                            {{authUser.LastName}}
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-warning float-right mt-1 mb-1 indam" href="/account/profile/edit/lastname"
                                role="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                        </div>
                    </div>

                    <div class="row profile_line">
                        <div class="col-lg-4 indam text-danger mt-1 mb-1 chulon">
                            <i class="fa fa-birthday-cake"></i>
                            Day of birth
                        </div>
                        <div class="col-lg-4 mt-1 mb-1 indam" style="font-size: 16px;">
                            {{authUser.DOB}}
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-warning float-right mt-1 mb-1 indam" href="/account/profile/edit/dob"
                                role="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                        </div>
                    </div>

                    <div class="row profile_line">
                        <div class="col-lg-4 indam text-danger mt-1 mb-1 chulon">
                            <i class="fa fa-building"></i>
                            City/Province
                        </div>
                        <div class="col-lg-4 mt-1 mb-1 indam" style="font-size: 16px;">
                            {{authUser.CityProvince}}
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-warning float-right mt-1 mb-1 indam"
                                href="/account/profile/edit/cityprovince" role="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                        </div>
                    </div>

                    <div class="row profile_line">
                        <div class="col-lg-4 indam text-danger mt-1 mb-1 chulon">
                            <i class="fa fa-home"></i>
                            District
                        </div>
                        <div class="col-lg-4 mt-1 mb-1 indam" style="font-size: 16px;">
                            {{authUser.District}}
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-warning float-right mt-1 mb-1 indam" href="/account/profile/edit/district"
                                role="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                        </div>
                    </div>

                    <div class="row profile_line">
                        <div class="col-lg-4 indam text-danger mt-1 mb-1 chulon">
                            <i class="fa fa-home"></i>
                            Ward
                        </div>
                        <div class="col-lg-4 mt-1 mb-1 indam" style="font-size: 16px;">
                            {{authUser.Ward}}
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-warning float-right mt-1 mb-1 indam" href="/account/profile/edit/ward"
                                role="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                        </div>
                    </div>

                    <div class="row profile_line">
                        <div class="col-lg-4 indam text-danger mt-1 mb-1 chulon">
                            <i class="fa fa-road"></i>
                            Street
                        </div>
                        <div class="col-lg-4 mt-1 mb-1 indam" style="font-size: 16px;">
                            {{authUser.Street}}
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-warning float-right mt-1 mb-1 indam" href="/account/profile/edit/street"
                                role="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Edit
                            </a>
                        </div>
                    </div>

                    {{#if_eq authUser.Type 0}}
                    <form method="POST" id="frmRequest" action="/account/profile/upgrade">
                        {{#if authUser.IsUpgrade}}
                        <button type="submit" class="btn btn-primary float-right mt-2 indam"
                            formaction="/account/profile/upgrade" disabled>
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            Waiting for approval..
                        </button>
                        {{else}}

                        <button type="submit" class="btn btn-primary float-right mt-2 indam"
                            formaction="/account/profile/upgrade">
                            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                            Upgrade to seller
                        </button>
                        {{/if}}
                    </form>
                    {{/if_eq}}


                </div>
                <div class="card-footer text-muted">
                    Footer
                </div>
            </div>
        </div>
    </div>
</div>