{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<style>
  .eye {
    cursor: pointer;
  }
</style>
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
</script>
<script>
  function validate() {
    const result = true;
    const username = $('#txtUserName').val();
    const email = $('#txtEmail').val();
    const rawpassword = $('#txtPassword').val();
    const confirmpassword = $('#txtConfirm').val();
    const firstname = $('#txtFirstName').val();
    const lastname = $('#txtLastName').val();
    const dob = $('#txtDOB').val();
    const cityprovince = $('#txtCityProvince').val();
    const district = $('#txtDistrict').val();
    const ward = $('#txtWard').val();
    const street = $('#txtStreet').val();
    //Kiểm tra các trường
    if (username == '' || rawpassword == '' || confirmpassword == '' ||
      firstname == '' || lastname == '' || email == '' ||
      dob == '' || cityprovince == '' || district == '' ||
      ward == '' || street == '') {
      $(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Please fill in all fields</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>`).insertBefore(".abcdef");
      return false;
    }
    if (user_name != '')
      if (user_name.length < 4) {
        $(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Username should be at least 4 characters</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>`).insertBefore(".abcdef");
        result = false;
      }

    if (raw_password != '')
      if (raw_password.length < 4) {
        $(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Password should be at least 4 characters</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>`).insertBefore(".abcdef");
        result = false;
      }

    if (raw_password != confirm_password) {
      $(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Password not match</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>`).insertBefore(".abcdef");
      result = false;
    }

    if (user_email != '')
      if (user_email.indexOf("@") == -1) {
        $(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Password not match</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>`).insertBefore(".abcdef");
        result = false;
      }
    return result;
  }

  $('#txtDOB').datetimepicker({
    // format: 'd/m/Y H:i'
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });
  var check = true;
  function showHiddenPassword() {
    if (check) {
      $('#txtPassword').attr("type", "text");
      $('#eye1').attr('class', 'fa fa-2x fa-eye float-right eye');
      check = false;
    } else {
      $('#txtPassword').attr('type', 'password');
      $('#eye1').attr('class', 'fa fa-2x fa-eye-slash float-right eye');
      check = true;
    }
  }
  var check1 = true;
  function showHiddenConfirm() {
    if (check1) {
      $('#txtConfirm').attr('type', 'text');
      $('#eye2').attr('class', 'fa fa-2x fa-eye float-right eye');
      check1 = false;
    } else {
      $('#txtConfirm').attr('type', 'password');
      $('#eye2').attr('class', 'fa fa-2x fa-eye-slash float-right eye');
      check1 = true;
    }
  }
</script>
{{/section}}

<div class="container">
  <div class="card shadow mb-4" id="register">
    <h3 class="card-header text-danger">
      <i class="fa fa-edit"></i> Register
    </h3>
    <div class="card-body">
      <form onsubmit="return validate();" method="POST" id="frmRegister" name="frmRegister">
        {{#each error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{msg}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{/each}}
        {{#if error_msg}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{error_msg}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{/if}}
        <h4 class="mb-3 abcdef">
          <i class="fa fa-user-circle"></i> Account
        </h4>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="txtUserName" class="chulon"><i class="fa fa-user"></i> UserName <i
                  class="fa fa-star text-danger"></i></label>
              <input type="text" class="form-control" id="txtUserName" name="user_name" placeholder="Hienhhcc"
                value="{{fields.user_name}}" autofocus>

            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="txtEmail" class="chulon"><i class="fa fa-envelope"></i> Email <i
                  class="fa fa-star text-danger"></i></label>
              <input type="text" class="form-control" id="txtEmail" name="user_email" placeholder="abc@gmail.com"
                value="{{fields.user_email}}">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="txtPassWord" class="chulon"><i class="fa fa-lock"></i> PassWord <i
                  class="fa fa-star text-danger"></i></label>
              <span class="fa fa-2x fa-eye-slash float-right eye" id="eye1" onclick="showHiddenPassword()"></span>
              <input type="password" class="form-control" id="txtPassword" name="raw_password">

            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="txtConfirm" class="chulon"><i class="fa fa-unlock-alt"></i> Confirm Password <i
                  class="fa fa-star text-danger"></i></label>
              <span class="fa fa-2x fa-eye-slash float-right eye" id="eye2" onclick="showHiddenConfirm()"></span>
              <input type="password" class="form-control" id="txtConfirm" name="confirm_password">

            </div>
          </div>
        </div>

        <hr class="mb-4">
        <h4 class="mb-3">
          <i class="fa fa-info-circle"></i> Information
        </h4>

        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label for="txtFirstName" class="chulon"><i class="fa fa-user"></i> First name <i
                  class="fa fa-star text-danger"></i></label>
              <input type="text" class="form-control" id="txtFirstName" name="first_name" placeholder="Vu Vinh"
                value="{{fields.first_name}}">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="txtLastName" class="chulon"><i class="fa fa-user"></i> Last name <i
                  class="fa fa-star text-danger"></i></label>
              <input type="text" class="form-control" id="txtLastName" name="last_name" placeholder="Hien"
                value="{{fields.last_name}}">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="txtDOB" class="chulon"><i class="fa fa-birthday-cake"></i> Day of birth <i
                  class="fa fa-star text-danger"></i></label>
              <input type="text" class="form-control" id="txtDOB" name="user_dob" value="{{fields.user_dob}}">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <label for="txtCityProvince" class="chulon"><i class="fa fa-building"></i> City/Province <i
                  class="fa fa-star text-danger"></i></label>
              <input type="text" class="form-control" id="txtCityProvince" name="cityprovince"
                placeholder="TP Hồ Chí Minh" value="{{fields.cityprovince}}">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label for="txtDistrict" class="chulon"><i class="fa fa-home"></i> District <i
                  class="fa fa-star text-danger"></i></label>
              <input type="text" class="form-control" id="txtDistrict" name="district" placeholder="7"
                value="{{fields.district}}">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label for="txtWard" class="chulon"><i class="fa fa-home"></i> Ward <i
                  class="fa fa-star text-danger"></i></label>
              <input type="text" class="form-control" id="txtWard" name="ward" placeholder="Tân Hưng"
                value="{{fields.ward}}">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label for="txtStreet" class="chulon"><i class="fa fa-road"></i> Street <i
                  class="fa fa-star text-danger"></i></label>
              <input type="text" class="form-control" id="txtStreet" name="street" placeholder="1041 Trần Xuân Soạn"
                value="{{fields.street}}">
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-success">
          <i class="fa fa-check" aria-hidden="true"></i>
          Register
        </button>
        <span class="float-left"><a href=""></a></span>
      </form>
    </div>
    <div class="card-footer text-muted">
      Footer
    </div>
  </div>
</div>