<div class="card shadow-lg mb-4" style="margin-top: 150px;" >
  <h4 class="card-header">
    Products
  </h4>

  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">
      Không có dữ liệu.
    </p>
  </div>
  {{else}}
  <div class="card-body">
    <div class="row">
      {{#each this.product}}
      <div class="col-sm-3 mb-3">
        <div class="card h-10 w-80">
            {{#if PricePurchase}}
                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>{{PricePurchase}}</span></div>
            {{/if}}
            <div class="favorite favorite_left"></div>
          <img src="/{{ProductID}}/main_thumbs.png" alt="{{ProductName}}" title="{{ProductName}}" class="card-img-top center" style="width:200px">
          <div class="card-body">
            <h6 class="card-title">{{ProductName}}</h6>
            
            <h5 class="card-title text-danger">{{PriceStart}}</h5>
            <div class="product_expiration_date timer_num time_custom_number">{{TimeExp}}</div>
          </div>
          <div class="card-footer text-center">
        </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  <div class="card-footer text-muted">
    Footer
  </div>
</div>